<h1 class="cover-heading">About Me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag 'portrait-3052641_640.jpg', class: 'img-fluid', alt: 'j2FunOnly photo' %>
    <div class="skills">
      <h3>Skills</h3>
      <% @skills.each do |skill| %>
        <h5><%= skill.title %></h5>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%= skill.percent_utilized %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p>
      <button type="button" class="btn btn-primary" name="button" data-toggle="collapse" data-target="#job-history">
        Job History
      </button>
      <button type="button" class="btn btn-primary" name="button" data-toggle="collapse" data-target="#education">
        Education
      </button>
    </p>

    <p>
      <div class="collapse" id="job-history">
        <div class="card">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            Job 2
          </div>
        </div>
      </div>
      <div class="collapse" id="education">
        <div class="card">
          <div class="card-body">
            School 1
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            School 2
          </div>
        </div>
      </div>
    </p>
  </div>
</div>
