<h1>Homepage</h1>
<h2>Hi<%= ", #{current_user.first_name}!" if user_signed_in? %></h2>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Blog posts</h2>
<%= @posts.inspect %>

<h2>Skills</h2>
<%= @skills.inspect %>
